<div class="timeline-item-content">
    <div class="timeline-heading" style="padding-bottom: 10px;">
        
        <a>{{post.title}}</a>
        <p>{{post.fulltext}}</p> 
        
    </div>                                        
    <div *ngFor='let comment of post.comments' class="timeline-body comments">
        <div class="comment-item">
            
            <p class="comment-head">
                <a href="#">{{comment.Username}}</a> <span *ngIf="isOwner(comment)" class="text-muted">Edit Comment</span>
            </p>
            <p>{{comment.Fulltext}} </p>
            <small class="text-muted">{{comment.DateCreated}}  </small>
        </div>                                            
                                                   
        <div *ngIf="loggedIn" class="comment-write">                                                
            <textarea class="form-control" [(ngModel)]="comment.FullText" placeholder="Write a comment" rows="5"></textarea> 
            <button (click)="addComment()" class="btn btn-default">Submit</button>                                             
        </div>
    </div>
</div> 