<div class="page-title">                    
    <h2><span class="fa fa-arrow"></span> All Topics</h2>
</div>
<div class="search-results">

    <div (click)="openThread(post)" *ngFor='let post of posts' class="sr-item">
        <a href="#" class="sr-item-title">{{post.title}}</a>
        
        <p class="sr-item-links">{{post.fulltext}}</p>
        <p class="sr-item-links"><a href="#">View the Topic</a> - <a href="#">200 views</a> - <a href="#">Hide this Topic</a></p>
    </div>                                
    
    